.schemeDiv{
    padding: 1.5rem;
}
.departmentName{
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}
.schemeName{
    font-size: 1.25rem;
    color: #0d6efd;
    margin:0;
}
.schemeDescription{
    font-size: inherit;
    color: rgb(75 85 99);
    margin: 0;
    padding: 1rem 0;
    padding-bottom: 0;
    height: fit-content;
}
.schemeTableButton{
    display: block;
    margin-left: auto;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    height: fit-content;
    color: #002a67;
}
